@import "../../sharedStyles/colors.scss";
.tabs-container{
    display: flex;
    width: 100%;
    align-items: flex-end;
    user-select: none;
    .tab-gradient{
        padding-bottom: .1rem;
        border-bottom: .1rem solid #e5e7ed;
        .tab{
            background-color: #fafbfd;
            padding: 1rem clamp(1.6rem, calc(16vw - 4rem), 5rem);
        }
        .tab:hover{
            cursor:pointer;
        }
    }
    .selected{
        background: $gradient-pink-yellow;
        border-radius: .6rem .6rem 0 0;
        border-bottom: none;
        border-top: 0.1rem solid #e5e7ed;
        border-right: 0.1rem solid #e5e7ed;
        border-left: 0.1rem solid #e5e7ed;
        .tab{
            background-color:  $white !important;
            border-radius: .5rem .5rem 0 0;
        }
    }
    .tab-border{
        border-bottom: .1rem solid #e5e7ed;
        width: 100%;
        height: 100%;
    }
}